.container{
    #main header {
        text-align: center;
        background color: rgb(41,25,6)
        color: #fff;
        width: 80%;
        height: 50px;
        margin: auto
        
    }
}



